*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
p{
  margin: 0;
}
home,
about,
services,
contact{
  width:100vw;
  color: white;
  h1,h2,h3,h4,h5,h6{
    color: white;
    font-size: 5rem;
  }
}
section{
  min-height: 100vh;
  border:2px solid lime;
  display:flex;

  .dino-img{
    margin:0 auto;
    img{
      max-width:400px;
    }
  }
}

.page-wrapper{
  display:flex;
  justify-content: center;
  background: -webkit-gradient(linear, right top, left top, from(#D1335B), to(#00152e));
  background: linear-gradient(to left, #D1335B, #00152e);
  
  .navigation-component{
    width: 15%;
    height: 100vh;
  }
  .components-wrapper{
    //temporary for debugging
    width:85%;
    // border: 3px solid red;
  }

  .main{
    width:85%;
    overflow:hidden;
    height: 100vh;
    border: 3px solid goldenrod;
  }

  // Buttons
  .btn-transparent-rounded{
    background-color: transparent;
    border:2px solid #fff;
    border-radius: 10rem;
    padding: 0.75rem 1.5rem;
  }
}//page-wrapper end
