@import "~bootstrap/scss/bootstrap-grid.scss";

*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
p{
  margin: 0;
}
home,
about,
services,
contact{
  width:80vw;
  color: white;
  h1,h2,h3,h4,h5,h6{
    color: white;
  }
}
@include media-breakpoint-down(md) {
  home,
  about,
  services,
  contact{
    width:100vw;
  }
}

#bg-leafs {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
section{
  // border:2px solid lime;
  min-height: 100vh;
  display:flex;
}

.page-wrapper{
  display:flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img.nav-logo-img{
    height: 48px;
    width: auto;
  }

  .left-nav{
    height: 100vh;
    width: 15%;
  }
  .right-nav{
    height: 100vh;
    width: 15%;
  }
  .main{
    width:70%;
    overflow:hidden;
    height: 100vh;
    // border: 3px solid goldenrod;
  }

  // Buttons
  .btn-transparent-rounded{
    background-color: transparent;
    border:2px solid #fff;
    border-radius: 10rem;
    padding: 0.75rem 1.5rem;
  }
}//page-wrapper end

@include media-breakpoint-down(sm) {
  
  .left-nav,
  .right-nav{
    display:none; 
  }
  .page-wrapper .main{
    width: 100vw;
  }
  .components-wrapper{
    width: 100vw!important;
    //why is it being overidden?
  }
  
}

