<div class="container" id="about">
  <div class="flex-parent">
    <div class="flex-child">
      <h1>Modern Website <br>for your business</h1>
    </div>
    <div class="flex-child">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
      <i class="fa fa-cog fa-spin"></i>
    </div>
  </div>
</div>