#home{
    min-height: 100vh;
    display: flex;
    align-items: center;

    .flex-parent{
      width: 100%;
      display: flex;
      
      .flex-child{
        width: 50%;
      }
      img.logo-img{
        max-width: 160px;
      }
      h1{
        border-bottom: 2px solid white;
        line-height: 90px;
        margin-bottom: 1rem;
        font-size: 5rem;
      }
      p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }
    .flex-parent .flex-child:last-child{
      display: flex;
      justify-content: center;
      align-items: center;
    }

}
@media only screen and (max-width: 640px) {
  #home{
    .flex-parent{
      text-align: center;
    }
    .flex-parent .flex-child:first-child{
      width: auto;
    }
    .flex-parent .flex-child:last-child{
      display: none;
    }
  }
}

