<div class="container" id="contact">
  <div class="flex-parent">
    <h5>Customer Service</h5>
    <h1>Contact</h1>
    <p>For questions about our company and products found on our stores. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>

    <div class="flex-child">
      <div class="contact">
        <h6>Contact</h6>
        <p>Call: 01 234 567 89</p>
        <p class="email">Email: ouremail@domain.com</p>
        <button class="btn btn-primary btn-transparent-rounded">Send Message</button>
      </div>
      <div class="address">
        <h6>Address</h6>
        <p>Company address</p>
        <p>12 Street Turning Place</p> 
        <p>South Est, Antartica</p> 
      </div>
    </div>
  </div>
</div>