@import "~bootstrap/scss/bootstrap-grid.scss";

@include media-breakpoint-down(md) {
    #contact{
      .flex-parent{
        width: 80vw!important;
        margin-top: 50px;
        p{
          font-size: 12px;
        }
        .flex-child > div{
          width: 100%!important;
        }
      }
    }    
}
#contact{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .flex-parent{
      display:flex;
      flex-direction: column;
      width: 50vw;
      
      .flex-child{
          display:flex;
          flex-direction: row;
          margin-top:2rem;
          flex-wrap: wrap;
      }
      .flex-child > div{
          width: 50%;
      }
      p.email{
          margin-bottom:1.5rem;
      }
      .button-wrapper{
        margin-top: 30px;
        padding-bottom:40px;
      }
    }
}