#contact{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .flex-parent{
        display:flex;
        flex-direction: column;
        width: 50vw;
        
        .flex-child{
            display:flex;
            flex-direction: row;
            margin-top:2rem;
        }
        .flex-child > div{
            width: 50%;
        }
        p.email{
            margin-bottom:2rem;
        }
    }
}