.carousel-wrapper {
    overflow: hidden;
    width: 100vw;
  }

.carousel-inner {
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: 6000px; */
    height:300px;
}
.carousel-inner {
    display: flex;
    flex-direction: column;
}