.navigation{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items:center;

  ul{
    position: fixed;
    list-style: none;
    margin:0;
    padding:0;


    li{
      line-height:30px;
      padding: 10px;

      a{
        font-size: 22px;
        text-decoration: none;
        color: #a09e9e;
      }
      
      svg{
        margin-right: 5px;
      }
    }
    li.active{
      a{
        color: white;
      }
    }
  }

  .website-logo-wrapper{
    display: flex;
    align-self: flex-start;
    color: white;
    margin-top: 30px;

    .logo{
      width: 25%;
    }
    .content{
      width:75%;
      padding-left: 10px;
    }
    .content > span:last-child{
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.right-nav{
  // border:1px solid goldenrod;
  .navigation{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items:center;
  
    ul{
      position: fixed;
      margin:0;
      padding:0;
  
  
      li{
        box-sizing: content-box;
        padding: 0;
        height: 10px;
        background: white;
        border-radius: 50%;
        width: 10px;
        margin: 20px 0;
        opacity: 0.2;

        span.bullet{
          font-size:28px;
        }

      }
      li:hover{
        cursor: pointer;
      }

      li.active{
        border: 4px solid rgba(0, 0, 0, .8);        
        position: relative;
        right: 3px;
        background:white;
        opacity: 1;
      }
    }

    .social-wrapper{
      
      align-self: flex-end;
      padding-bottom: 30px;
      svg{
        color: rgba(255, 255, 255, 0.5);
        margin: 0 7px;
        font-size: 24px;
      }
      svg:hover{
        color: white;
      }
      a:hover{
        text-decoration: none;
      }
    }
    
    
  }
}

.mobile-menu{
  width: 20px;
  height: 19px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  align-items: center;
  

  .mobile-menu__middle{
    width: 20px;
    height: 3px;
    background-color:white;
    position: absolute;
    transition: all .3s ease-out;
    transform-origin: 0 0;
  }
  .mobile-menu__top{
    position: absolute;
    top:1px;
    left:0;
    width: 20px;
    height: 3px;
    background-color:white;
    transform-origin: 0 0;
    transition: all .3s ease-out;
  }
  .mobile-menu__bottom{
    position: absolute;
    top:15px;
    left:0;
    width: 20px;
    height: 3px;
    background-color:white;
    transform-origin: 0 100%;
    transition: all .3s ease-out;
  }
  
}
.mobile-menu.show{
  .mobile-menu__top{
    transform: rotate(45deg) scaleX(1.28) translateY(-1px);
    transition: all .3s ease-out;
  }
  .mobile-menu__middle{
    opacity: 0;
    transform: scaleX(0);
    transition: all .3s ease-out;
  }
  .mobile-menu__bottom{
    transform: rotate(-45deg) scaleX(1.25) translateY(3px);
    transition: all .3s ease-out;
  }
}

.website-logo-wrapper--mobile{
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
}


@media only screen and (max-width: 640px) {
  .overlay-menu{
    display: none;
  }
  body.show{
    .overlay-menu{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      background: rgba(0, 0, 0, .8)
    }
  }
  .mobile-menu{
    display: flex;
    z-index: 1;
  }
  
  
  .website-logo-wrapper--mobile{
    display: flex;
    color: white;
    
    .logo{
      width: 25%;
    }
    .content{
      width:75%;
      padding-left: 10px;
    }
    .content > span:last-child{
      color: rgba(255, 255, 255, 0.5);
    }
  }
}