.navigation{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items:center;

  ul{
    position: fixed;
    list-style: none;
    margin:0;
    padding:0;


    li{
      line-height:30px;
      padding: 10px;

      a{
        font-size: 22px;
        text-decoration: none;
        color: #a09e9e;
      }
      
      svg{
        margin-right: 5px;
      }
    }
    li.active{
      a{
        color: white;
      }
    }
  }

  .website-logo-wrapper{
    display: flex;
    align-self: flex-start;
    color: white;
    margin-top: 30px;

    .logo{
      width: 25%;
    }
    .content{
      width:75%;
      padding-left: 10px;
    }
    .content > span:last-child{
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.right-nav{
  // border:1px solid goldenrod;
  .navigation{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items:center;
  
    ul{
      position: fixed;
      margin:0;
      padding:0;
  
  
      li{
        box-sizing: content-box;
        padding: 0;
        height: 10px;
        background: white;
        border-radius: 50%;
        width: 10px;
        margin: 20px 0;
        opacity: 0.2;

        span.bullet{
          font-size:28px;
        }

      }
      li:hover{
        cursor: pointer;
      }

      li.active{
        border: 4px solid rgba(0, 0, 0, .8);        
        position: relative;
        right: 3px;
        background:white;
        opacity: 1;
      }
    }

    .social-wrapper{
      
      align-self: flex-end;
      padding-bottom: 30px;
      svg{
        color: rgba(255, 255, 255, 0.5);
        margin: 0 7px;
        font-size: 24px;
      }
      svg:hover{
        color: white;
      }
      a:hover{
        text-decoration: none;
      }
    }
    
  }
}
