<div class="page-wrapper">
    
  <app-navigation 
    class="navigation-component" 
    [activeComponent]="currentComponent"
    (scrollThisElemIntoView)="scrollThisIntoView($event)">
  </app-navigation>
  
  <div class="main">
    <div class="components-wrapper" #componentsWrapper>
      <section id="home" style="border:1px solid green">
        <home class="component-item"></home>
      </section>
      <section id="about" style="border:1px solid green">
        <about class="component-item"></about>
      </section>
      <section id="services" style="border:1px solid green">
        <services class="component-item"></services>
      </section>
      <section id="contact" style="border:1px solid green">
          <contact class="component-item"></contact>
      </section>

    </div>
  </div>
</div>