<!-- The video -->
<video autoplay muted loop id="bg-leafs">
  <source src="../assets/vid/loop-bg.mp4" type="video/mp4">
</video>

<div class="page-wrapper">
    
  <div class="left-nav">
    <div class="navigation">
      <div class="website-logo-wrapper">
        <div class="logo">
          <img class="nav-logo-img" src="../assets/img/logo_white.png" alt="logo-white">
        </div>
        <div class="content">
          <span>Simpleux</span><br>
          <span>Portfolio Template</span>
        </div>
      </div>
      <ul class="navigation-list">
        <li 
        *ngFor="let item of navListItems;let i = index" 
        id="{{item.label | lowercase}}"
        (click)="listClick(item, i)"
        [ngClass]="{'active': item.isActive }">
          <a href="#">
            <i 
            class="fa fa-{{item.icon}}" 
            aria-hidden="true"
            data-fa-mask="fas fa-circle" 
            data-fa-transform="shrink-7 up-.6">
            </i> {{item.label}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="main">
    <div class="components-wrapper" #componentsWrapper>
      <section id="home" class="component-item">
        <home></home>
      </section>
      <section id="about" class="component-item">
        <about></about>
      </section>
      <section id="services" class="component-item">
        <services></services>
      </section>
      <section id="contact" class="component-item">
          <contact></contact>
      </section>
    </div>
  </div>

  <div class="right-nav">
    <div class="navigation">

      <div class="mobile-menu" animateBurger>
        <div class="mobile-menu__top"></div>
        <div class="mobile-menu__middle"></div>
        <div class="mobile-menu__bottom"></div>
      </div>

      <ul class="navigation-list">
        <li 
        *ngFor="let item of navListItems;let i = index" 
        id="{{item.label | lowercase}}"
        (click)="listClick(item, i)"
        [ngClass]="{'active': item.isActive }">
          <a href="#">
            <span class="bullet"></span>
          </a>
        </li>
      </ul>
      <div class="social-wrapper">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

</div>