<div class="page-wrapper">
    
  <app-navigation 
    class="navigation-component" 
    [activeComponent]="currentComponent"
    (scrollThisElemIntoView)="scrollThisIntoView($event)">
  </app-navigation>
  
  <div class="main">
    <div class="components-wrapper" #componentsWrapper>
      <section id="home" class="component-item" [class.isInView]="isInView()" style="border:3px solid green">
        <home></home>
      </section>
      <section id="about" class="component-item" style="border:3px solid green">
        <about></about>
      </section>
      <section id="services" class="component-item" style="border:3px solid green">
        <services></services>
      </section>
      <section id="contact" style="border:3px solid green" class="component-item">
          <contact></contact>
      </section>
    </div>
  
  
</div>