.navigation{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items:center;
  
  ul{
    position: fixed;
    list-style: none;
    border: 1px solid goldenrod;
    margin:0;
    padding:0;


    li{
      border: 1px solid coral;
    }
  }
}


