<div class="container" id="services">
  <p class="services-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris<br> aliquet malesuada feugiat.</p>
  <div class="flex-parent">
    <div class="flex-child">
      <div class="service-item">
        <div class="service-item-logo">
            <i class="icon icon-location"></i>
        </div>
        <div class="service-item-content">
          <h4>Responsive</h4>
          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
        </div>
      </div>
      <div class="service-item">
        <div class="service-item-logo">
            <i class="icon icon-diamond"></i>
        </div>
        <div class="service-item-content">
          <h4>Bootstrap</h4>
          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
        </div>
      </div>
      <div class="service-item">
        <div class="service-item-logo">
            <i class="icon icon-data"></i>
        </div>
        <div class="service-item-content">
          <h4>Modern</h4>
          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
        </div>
      </div>
    </div>
    <div class="flex-child">
        <div class="service-item">
          <div class="service-item-logo">
              <i class="icon icon-display"></i>
          </div>
          <div class="service-item-content">
            <h4>Flexbox</h4>
            <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
          </div>
        </div>
        <div class="service-item">
          <div class="service-item-logo">
              <i class="icon icon-music"></i>
          </div>
          <div class="service-item-content">
            <h4>Prebuilt code</h4>
            <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
          </div>
        </div>
        <div class="service-item">
          <div class="service-item-logo">
              <i class="icon icon-megaphone"></i>
          </div>
          <div class="service-item-content">
            <h4>Mobile ready</h4>
            <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
          </div>
        </div>
    </div>
  </div>
</div>
