#services{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p.services-intro{
      width:60%;
      font-size:1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
   .flex-parent{
      width: 100%;
      display: flex;
      border: 5px solid goldenrod;

      .flex-child{
        width: 50%;
        
        .service-item{
          border: 1px solid aquamarine;
          display: flex;

          .service-item-logo{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              display: inline-block;
              width: 1em;
              height: 1em;
              stroke-width: 0;
              stroke: currentColor;
              fill: currentColor;
            }
            .icon-location,
            .icon-diamond,
            .icon-display,
            .icon-music,
            .icon-megaphone,
            .icon-data {
              font-size: 3rem;
              color: #fff;
            }
          }
          .service-item-content{
            width: auto;
          }
        }
      }
   }

   //Icons
   
}