<div class="container" id="services">
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat.</h3>
  <div class="flex-parent">
    <div class="flex-child">
      <div class="service-item">
        <div class="service-item-logo">
            <i class="icon icon-location"></i>
        </div>
        <div class="service-item-content">
          <h6>Design</h6>
          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
        </div>
      </div>
      <div class="service-item">
        <div class="service-item-logo">
            <i class="icon icon-diamond"></i>
        </div>
        <div class="service-item-content">
          <h6>Design</h6>
          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
        </div>
      </div>
      <div class="service-item">
        <div class="service-item-logo">
            <i class="icon icon-data"></i>
        </div>
        <div class="service-item-content">
          <h6>Design</h6>
          <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
        </div>
      </div>
    </div>
    <div class="flex-child">
        <div class="service-item">
          <div class="service-item-logo">
              <i class="icon icon-display"></i>
          </div>
          <div class="service-item-content">
            <h6>Design</h6>
            <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
          </div>
        </div>
        <div class="service-item">
          <div class="service-item-logo">
              <i class="icon icon-music"></i>
          </div>
          <div class="service-item-content">
            <h6>Design</h6>
            <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
          </div>
        </div>
        <div class="service-item">
          <div class="service-item-logo">
              <i class="icon icon-megaphone"></i>
          </div>
          <div class="service-item-content">
            <h6>Design</h6>
            <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
          </div>
        </div>
    </div>
  </div>
</div>
