@import "~bootstrap/scss/bootstrap-grid.scss";

@include media-breakpoint-down(md) {

  #services{
    .flex-parent{
      flex-wrap: wrap;
      .flex-child{
        width:100vw;

        .service-item{
          margin-bottom: 20px;

          .service-item-logo{
            align-items: start!important;

            i.icon{
              font-size: 2.5rem;
              top: 5px;
              position: relative;
            }
          }
          .service-item-content{
            margin-left: 10px;
          }
        }
      }
    }
  }
}

#services{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p.services-intro{
      width:60%;
      font-size:1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
   .flex-parent{
      width: 100%;
      display: flex;
      // border: 2px solid goldenrod;

      .flex-child{
        
        .service-item{
          // border: 2px solid aquamarine;
          display: flex;

          .service-item-logo{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              display: inline-block;
              width: 1em;
              height: 1em;
              stroke-width: 0;
              stroke: currentColor;
              fill: currentColor;
            }
            .icon-location,
            .icon-diamond,
            .icon-display,
            .icon-music,
            .icon-megaphone,
            .icon-data {
              font-size: 3rem;
              color: #fff;
            }
          }
          .service-item-content{
            width: auto;
          }
        }
      }
      
      
   }

}



